{% extends 'base.html.twig' %}
{% from '_macros/post_nav.html.twig' import front_post_types %}
{% from 'comment/_macros.html.twig' import comment %}

{% block title 'title.recent_comments'|trans %}
{% block site_nav_active 'front' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

{% block body %}
  <nav class="nav nav--guttered">
    {{ front_post_types('comments') }}
  </nav>

  <h1 class="page-heading">{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ comment(comment, {show_context: true}) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

